Repository janbiasi/rollup-plugin-sbom, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, :test_tube: tests, :pencil: docs

.github/labeler.yml:

dependencies:
  - package.json
  - pnpm-lock.yaml

":test_tube: tests":
  - test/*
  - test/**/*

":pencil: docs":
  - README.md

docs: link milestone for v1
  README.md
Labels: :pencil: docs

feat: provide output config options [#5]
  README.md
  src/index.ts
  src/options.ts
Labels: :pencil: docs

refactor: add concrete union type for outFormats config option [#5]
  src/options.ts
Labels: none

refactor: extend rollup peer dependency to support both v3 and v4 [#5]
  README.md
  package.json
  pnpm-lock.yaml
  test/package.json
Labels: dependencies, :test_tube: tests, :pencil: docs

feat: provide output config options [#5]
  README.md
  src/index.ts
  src/options.ts
Labels: :pencil: docs

refactor: extend rollup peer dependency to support both v3 and v4 [#5]
  README.md
  package.json
  pnpm-lock.yaml
  test/package.json
Labels: dependencies, :test_tube: tests, :pencil: docs

refactor: add concrete union type for outFormats config option [#5]
  src/options.ts
Labels: none
