Repository janbiasi/rollup-plugin-sbom, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, :test_tube: tests, :pencil: docs, :zap: ci/cd, :nail_care: codestyle

.github/labeler.yml:

dependencies:
  - package.json
  - pnpm-lock.yaml

":test_tube: tests":
  - test/*
  - test/**/*

":pencil: docs":
  - README.md

":zap: ci/cd":
  - .github/workflows/*
  - .github/labeler.yml
  - .releaserc.cjs
  - build.config.ts
  - .eslintrc.cjs
  - .eslintignore

":nail_care: codestyle":
  - .prettierrc.cjs
  - .prettierignore

ci: enable write permission for release
  .github/workflows/ci.yml
Labels: :zap: ci/cd

Notes added by 'git notes add'
  268a8fbc26517a32d9584966424a9ade3f7b4407
Labels: none

docs: overhaul doc structure and add more info
  .all-contributorsrc
  .prettierignore
  README.md
Labels: :pencil: docs, :nail_care: codestyle

fix: only register dependencies once, fixes #10
  src/index.ts
Labels: none

fix: resolve plugin tool correctly
  src/builder.ts
Labels: none

chore: add cyclonedx schemas for validation
  test/schemas/bom-1.5.schema.json
  test/schemas/cyclonedx-spdx.schema.json
  test/schemas/jsf.schema.json
  test/schemas/spdx.schema.json
Labels: :test_tube: tests

test: add test cases for vite v5
  .prettierignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/LICENSE
  test/fixtures/vite-v5/.eslintrc.cjs
  test/fixtures/vite-v5/.gitignore
  test/fixtures/vite-v5/README.md
  test/fixtures/vite-v5/index.html
  test/fixtures/vite-v5/package.json
  test/fixtures/vite-v5/public/vite.svg
  test/fixtures/vite-v5/src/App.css
  test/fixtures/vite-v5/src/App.tsx
  test/fixtures/vite-v5/src/assets/react.svg
  test/fixtures/vite-v5/src/index.css
  test/fixtures/vite-v5/src/main.tsx
  test/fixtures/vite-v5/src/vite-env.d.ts
  test/fixtures/vite-v5/tsconfig.json
  test/fixtures/vite-v5/tsconfig.node.json
  test/fixtures/vite-v5/vite.config.ts
  test/helpers.ts
  test/package.json
  test/vite-v5.test.ts
  test/vite.config.ts
Labels: dependencies, :test_tube: tests, :nail_care: codestyle

docs: add issue template [skip ci]
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .prettierignore
Labels: :nail_care: codestyle

docs: add issue template [skip ci]
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .prettierignore
Labels: :nail_care: codestyle

fix: only register dependencies once, fixes #10
  src/index.ts
Labels: none

chore: add cyclonedx schemas for validation
  test/schemas/bom-1.5.schema.json
  test/schemas/cyclonedx-spdx.schema.json
  test/schemas/jsf.schema.json
  test/schemas/spdx.schema.json
Labels: :test_tube: tests

fix: resolve plugin tool correctly
  src/builder.ts
Labels: none

test: add test cases for vite v5
  .github/workflows/ci.yml
  .prettierignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/LICENSE
  test/fixtures/vite-v5/.eslintrc.cjs
  test/fixtures/vite-v5/.gitignore
  test/fixtures/vite-v5/README.md
  test/fixtures/vite-v5/index.html
  test/fixtures/vite-v5/package.json
  test/fixtures/vite-v5/public/vite.svg
  test/fixtures/vite-v5/src/App.css
  test/fixtures/vite-v5/src/App.tsx
  test/fixtures/vite-v5/src/assets/react.svg
  test/fixtures/vite-v5/src/index.css
  test/fixtures/vite-v5/src/main.tsx
  test/fixtures/vite-v5/src/vite-env.d.ts
  test/fixtures/vite-v5/tsconfig.json
  test/fixtures/vite-v5/tsconfig.node.json
  test/fixtures/vite-v5/vite.config.ts
  test/helpers.ts
  test/package.json
  test/vite-v5.test.ts
  test/vite.config.ts
Labels: dependencies, :test_tube: tests, :zap: ci/cd, :nail_care: codestyle

style: reduce duplicated code in test-helper
  test/helpers.ts
Labels: :test_tube: tests

fix: only register dependencies once, fixes #10
  src/index.ts
Labels: none

chore: add cyclonedx schemas for validation
  test/schemas/bom-1.5.schema.json
  test/schemas/cyclonedx-spdx.schema.json
  test/schemas/jsf.schema.json
  test/schemas/spdx.schema.json
Labels: :test_tube: tests

style: reduce duplicated code in test-helper
  test/helpers.ts
Labels: :test_tube: tests

fix: resolve plugin tool correctly
  src/builder.ts
Labels: none

test: add test cases for vite v5
  .github/workflows/ci.yml
  .prettierignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/LICENSE
  test/fixtures/vite-v5/.eslintrc.cjs
  test/fixtures/vite-v5/.gitignore
  test/fixtures/vite-v5/README.md
  test/fixtures/vite-v5/index.html
  test/fixtures/vite-v5/package.json
  test/fixtures/vite-v5/public/vite.svg
  test/fixtures/vite-v5/src/App.css
  test/fixtures/vite-v5/src/App.tsx
  test/fixtures/vite-v5/src/assets/react.svg
  test/fixtures/vite-v5/src/index.css
  test/fixtures/vite-v5/src/main.tsx
  test/fixtures/vite-v5/src/vite-env.d.ts
  test/fixtures/vite-v5/tsconfig.json
  test/fixtures/vite-v5/tsconfig.node.json
  test/fixtures/vite-v5/vite.config.ts
  test/helpers.ts
  test/package.json
  test/vite-v5.test.ts
  test/vite.config.ts
Labels: dependencies, :test_tube: tests, :zap: ci/cd, :nail_care: codestyle

ci: add dependabot configuration [skip ci]
  .github/dependabot.yml
Labels: none

ci: update setup actions to v4
  .github/actions/setup/action.yml
Labels: none

chore: update husky to v9 [skip ci]
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: update husky to v9 [skip ci]
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Labels: dependencies

ci: update setup actions to v4
  .github/actions/setup/action.yml
Labels: none

ci: add dependabot configuration [skip ci]
  .github/dependabot.yml
Labels: none

ci: add ossf scorecard workflow
  .github/workflows/ossf-scorecard.yml
Labels: :zap: ci/cd

Notes added by 'git notes add'
  baba73a11ae8a87425a8119c60a540df983eb825
Labels: none

docs: add ossf and semver badge
  README.md
Labels: :pencil: docs

ci: bump actions stale to v9, closes #18
  .github/workflows/stale.yml
Labels: :zap: ci/cd

ci: bump labeler action to v5, closes #17
  .github/workflows/labeler.yml
Labels: :zap: ci/cd

docs: add security policy
  SECURITY.md
Labels: none

ci: set global default permissions to non-destructive ones
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: :zap: ci/cd

ci: enable npm provenance for publishing
  .github/workflows/ci.yml
  package.json
Labels: dependencies, :zap: ci/cd

docs: add codeql status badge
  README.md
Labels: :pencil: docs

ci: always use label dependencies for dependabot prs
  .github/dependabot.yml
Labels: none

ci: set global default permissions to non-destructive ones
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: :zap: ci/cd

docs: add ossf and semver badge
  README.md
Labels: :pencil: docs

ci: always use label dependencies for dependabot prs
  .github/dependabot.yml
Labels: none

ci: bump actions stale to v9, closes #18
  .github/workflows/stale.yml
Labels: :zap: ci/cd

ci: bump labeler action to v5, closes #17
  .github/workflows/labeler.yml
Labels: :zap: ci/cd
